/* filepath: /C:/Users/El-Hamd/Desktop/work/attendance/src/pages/doctor/doctorDashboard.css */
@container(max-width: 120px) {
  .table-61b64e54-6402-4528-be12-17add0611f43-column-120 {
    display: none;
  }
}
@container(max-width: 240px) {
  .table-61b64e54-6402-4528-be12-17add0611f43-column-240 {
    display: none;
  }
}
@container(max-width: 360px) {
  .table-61b64e54-6402-4528-be12-17add0611f43-column-360 {
    display: none;
  }
}
@container(max-width: 480px) {
  .table-61b64e54-6402-4528-be12-17add0611f43-column-480 {
    display: none;
  }
}